/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基础样式 */
body {
  font-family: '微软雅黑', Arial, sans-serif;
  line-height: 1.6;
  color: #FFFFFF;
  background-color: #f7f7f7;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* 头部 */
header {
  background-color: #1E1E1E;
  color: #fff;
  padding: 1rem;
}

header h1,
header nav a {
  color: inherit;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav li {
  margin-left: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

/* 底部 */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}